examples/nodes_*
examples/mlruns/
venv/
__pycache__
.DS_Store
.ipynb_checkpoints/
build/
dist/
src/.DS_Store
src/mcmc.egg-info/
src/structure_mcmc.egg-info/
src/structure_learning.egg-info/
src/structure_learning/.DS_Store
